*.pyc
*.swp
.ipynb_checkpoints
pyQchem\ test.ipynb
*.html
*.png
*.in
*.out
*.sh
pathtable
..*
*.qcin.*
*.ipynb
*.inp

# Ignore folder for PyCharm IDE
.idea/

# Ignore backup files from 2to3
*.bak

# Ignore egg info file from setuptools
/pyqchem.egg-info/
