*.pyc
*.swp
.ipynb_checkpoints
pyQchem\ test.ipynb
*.html
*.png
*.in
*.out
pathtable
..*
*.qcin.*
*.ipynb
*.inp

# Ignore folder for PyCharm IDE
.idea/

# Ignore backup files from 2to3
*.bak

# Ignore files from setuptools
/pyqchem.egg-info/
/build/
/dist/

# Don't ignore test files
!/test/files/*.out

# Don#t ignore doc files
!/docs/*.html

# Don't ignore tutorial files
!/examples/tutorials/testrun.in
!/examples/tutorials/oniom_opt.out
!/examples/tutorials/ethane.inp
!/examples/tutorials/trajectory.xyz
!/examples/tutorials/tutorial_output.html
!/examples/tutorials/pocop_batch.out
!/examples/tutorials/a.in
!/examples/tutorials/aimd.out
!/examples/tutorials/b.in
!/examples/tutorials/tutorial_output.ipynb
!/examples/tutorials/a.out
!/examples/tutorials/pocop_eth.out
!/examples/tutorials/testrun2.in
!/examples/tutorials/testrun2.out
!/examples/tutorials/iqmol.png
!/examples/tutorials/mm_opt.out
!/examples/tutorials/tutorial_input.html
!/examples/tutorials/testrun.out
!/examples/tutorials/h2_batch.inp
!/examples/tutorials/pocop_co.out
!/examples/tutorials/b.out
!/examples/tutorials/tutorial_input.ipynb
